.about {
  margin: 0;
  overflow-x: hidden;
  position: relative;
  min-height: calc(100vh - 67px);

  .rotateimg180 {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    height: 5em;
    width: auto;
  }

  .bottombg-image {
    position: absolute;
    width: 25em;
    bottom: 0;
    right: 0;
  }

  .about_us_intro {
    position: relative;
    background-color: rgb(255, 252, 240);
    padding: 5rem 0px;

    .about_us_intro_hero {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 0.5rem;
      margin: auto;
      text-align: center;

      .about_us_intro_header {
        font-weight: 800;
        font-size: 2.5rem;
        color: rgb(17, 24, 39);
        line-height: 3rem;
      }

      .about_us_description {
        font-weight: 400;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
        letter-spacing: -0.02rem;
      }
    }

    .intro_explanations_container {
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      z-index: 3;
      gap: 2rem;
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .intro_explanations_description {
        position: relative;
        width: 100%;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 38rem;

        .description_hero {
          font-weight: 600;
          font-size: 2rem;
          color: rgb(17, 24, 39);
          line-height: 2.5rem;
          margin: 0 0 1rem;
        }

        .description_paragraph {
          font-weight: 400;
          font-size: 1rem;
          color: rgb(17, 24, 39);
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
        }
      }
    }
  }

  .intro_cards {
    padding: 5rem 0;

    .intro_cards_container {
      display: flex;
      gap: 1rem 5rem;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
      align-items: stretch;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .card-container {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        max-width: 10rem;
        width: 100%;
        gap: 1rem;

        .card-image {
          max-width: 100%;
          height: min-content;
          margin: auto;
          max-height: 160px;
        }

        .card-description {
          font-weight: 600;
          font-size: 1rem;
          color: rgb(17, 24, 39);
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
        }
      }
    }
  }

  .checkout-advisor-container {
    position: relative;
    background-color: rgb(229, 249, 248);
    padding: 5rem 0;

    .checkout-advisor-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .checkout-advisor-text {
        position: relative;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 1rem;
        max-width: 34rem;
        width: 100%;
        display: flex;

        .hero-text {
          font-weight: 600;
          font-size: 2rem;
          color: rgb(17, 24, 39);
          line-height: 2.5rem;
          margin-bottom: 2rem;
        }

        .text {
          font-weight: 400;
          font-size: 1rem;
          color: rgb(17, 24, 39);
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
        }
      }

      .checkout-advisor-doctor {
        max-width: 34rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 1rem;

        .backgroundcloud {
          color: transparent;
          position: absolute;
          max-width: 33rem;
          width: 100%;
          left: 50%;
          top: 0;
          transform: translate(-50%, -10%);
          height: min-content;
          margin: auto;
        }

        .checkout-advisor-container {
          position: relative;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          gap: 1.5rem;
          padding: 1.5rem;
          margin: auto;
          border-radius: 1.5rem;
          background: rgb(255, 255, 255);
          box-shadow: rgba(0, 0, 0, 0.08) 0px 9px 25px;
          width: fit-content;

          .doctor-image {
            max-width: 100%;
            height: min-content;
            margin: auto;
            width: 312px;
          }

          .checkout-advisor-credentials {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: 0.25rem;

            .checkout-advisor-name {
              font-weight: 600;
              font-size: 1rem;
              color: rgb(17, 24, 39);
              line-height: 1.5rem;
              letter-spacing: -0.02rem;
              margin-bottom: 0;
            }

            .checkout-advisor-role {
              font-weight: 400;
              font-size: 0.875rem;
              color: rgb(17, 24, 39);
              line-height: 1.25rem;
              letter-spacing: -0.02rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .why_us_container {
    padding: 5rem 0;
    background-color: rgb(255, 252, 240);

    .why_us_wrapper {
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      gap: 2rem;
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .why_us_hero {
        font-weight: 600;
        font-size: 2rem;
        color: rgb(17, 24, 39);
        line-height: 2.5rem;
      }

      .why_us_desc {
        max-width: 28rem;
        font-weight: 400;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
        letter-spacing: -0.02rem;
      }
    }
  }

  .about_us_slogan {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 5rem 1rem;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 50rem;

    .bean-image {
      max-width: 100%;
      height: min-content;
      margin: auto;
      max-height: 160px;
    }

    .slogan_hero {
      font-weight: 400;
      font-size: 1rem;
      color: rgb(17, 24, 39);
      line-height: 1.5rem;
      letter-spacing: -0.02rem;
      text-align: center;
    }

    .slogan_caption {
      text-align: center;
      color: rgb(115, 115, 220);
      padding-bottom: 3.5rem;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      font-style: italic;
    }

    .featured_in {
      padding: 0;

      .featured_in_wrapper {
        padding: 2.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: auto;
        max-width: 74rem;

        .slogan_featured {
          text-align: center;
          font-weight: 600;
          font-size: 1rem;
          color: rgb(17, 24, 39);
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
        }

        .featured-image {
          width: 100%;
          max-width: 34rem;
        }
      }
    }
  }

  .about_us_features {
    overflow: hidden;
    position: relative;
    background: rgb(255, 245, 246);

    .about_us_features_wrapper {
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .about_us_features_container {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 2rem;

        .features-image {
          max-width: 100%;
          height: min-content;
          margin: auto;
          max-height: 480px;
        }

        .about_us_features_description {
          display: flex;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          gap: 1rem;
          position: relative;
          width: 100%;
          margin: auto;
          padding-left: 2rem;
          padding-right: 2rem;
          max-width: 38rem;

          .features_hero {
            font-weight: 600;
            font-size: 2rem;
            color: rgb(17, 24, 39);
            line-height: 2.5rem;
          }

          .features_paragraph {
            font-weight: 400;
            font-size: 1rem;
            color: rgb(17, 24, 39);
            line-height: 1.5rem;
            letter-spacing: -0.02rem;
          }

          .button {
            max-width: 21.5rem;
            margin: 1rem 0px 2rem;
            z-index: 3;
            cursor: pointer;
            outline: none;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 0.5rem;
            width: fit-content;
            -webkit-tap-highlight-color: transparent;
            border: none;
            transition: all 0.2s ease 0s;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5rem;
            letter-spacing: -0.02rem;
            padding: 0.5rem 1.5rem;
            min-height: 3rem;
            color: rgb(255, 255, 255);
            background: rgb(0, 193, 183);
            box-shadow: rgba(0, 193, 183, 0.24) 0px 16px 32px;

            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  .landing_selection_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0px;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 74rem;

    .landing_selection_hero_text {
      font-weight: 600;
      font-size: 1.5rem;
      color: rgb(17, 24, 39);
      text-align: center;
      line-height: 2rem;
    }

    .button-wrapper {
      width: 100%;
      display: flex;
      gap: 1.5rem 1rem;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 30px;

      .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        max-width: 13rem;
        width: 100%;
        border: none;
        box-shadow: 0 9px 25px rgba(0, 0, 0, 0.08);
        background-color: rgb(255, 255, 255);

        &:hover {
          box-shadow: 0 0 0 2px inset rgb(0, 193, 183);
        }

        &.active {
          box-shadow: 0 0 0 2px inset rgb(0, 193, 183);
        }
      }

      span {
        font-weight: 500;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
      }
    }
  }

  .footer {
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    position: sticky;

    .footer_container {
      position: relative;
      width: 100%;
      margin: auto;
      padding: 0px;
      max-width: 74rem;

      .footer_content_flex {
        position: relative;
        z-index: 1099;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        display: flex;
        flex-flow: row;

        .footer_logo_side {
          max-width: 32rem;
          gap: 1rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .navbar-logo {
            width: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: normal;
          }

          .footerdisclaimer {
            font-weight: 400;
            font-size: 0.75rem;
            color: rgb(107, 114, 128);
            line-height: 1.125rem;
            letter-spacing: -0.02rem;
          }
        }
      }

      .footer_navigation_side {
        width: 29rem;
        gap: 1rem;
        display: flex;
        flex-flow: row;

        .navigation_links {
          gap: 1rem;
          width: 100%;
          display: flex;
          flex-flow: wrap;

          .navigation_link {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: -0.02rem;
            color: rgb(17, 24, 39);
            min-width: 10rem;
            text-decoration: none;
          }
        }

        .media-links {
          max-width: 7rem;
          gap: 1rem;
          width: 100%;
          display: flex;
          flex-flow: row;

          .social-emoji {
            margin: auto;
            height: 1rem;
            width: 1rem;
          }
        }
      }
    }

    .copyright {
      text-align: left;
      font-weight: 400;
      font-size: 0.75rem;
      color: rgb(107, 114, 128);
      line-height: 1.125rem;
      letter-spacing: -0.02rem;
    }
  }
}
