.AppFeatures {
  margin: 0;
  overflow-x: hidden;
  position: relative;
  min-height: calc(100vh - 67px);

  .rotateimg180 {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    height: 5em;
    width: auto;
  }

  .app-features-intro {
    position: relative;
    background-color: rgb(248, 248, 255);
    padding: 2.5rem 0px;

    .app-features-carousel {
      background-color: transparent;
      z-index: 2;
      position: relative;
      padding: 2.5rem 0px;
      width: 100%;
      margin: auto;
      max-width: 74rem;

      .carousel-hero {
        text-align: center;
        padding: 0px 1rem;
        font-weight: 600;
        font-size: 2rem;
        color: rgb(17, 24, 39);
        line-height: 2.5rem;
      }

      .carousel-desc {
        text-align: center;
        padding: 1rem 1rem 1.5rem;
        font-weight: 400;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
        letter-spacing: -0.02rem;
      }

      .carousel-cards {
        display: grid;
        grid-template-areas:
        "card1 image card2"
        "card3 image card4";
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        -webkit-box-align: center;
        align-items: center;
        gap: 1.5rem 2rem;

        .card1 {
          grid-area: card1;
        }


        .card3 {
          grid-area: card3;
        }

        .card4 {
          grid-area: card4;
        }

        .card2 {
          grid-area: card2;
        }

        .carousel-main-image {
          color: transparent;
          grid-area: image;
          max-width: 100%;
          max-height: 468px;
          height: min-content;
          margin: auto;
        }

        .carousel-card-wrapper {
          background-color: rgb(255, 255, 255);
          width: 24rem;
          min-height: 10rem;
          padding: 1rem;
          border-radius: 1rem;
          cursor: pointer;

          &.active {
            box-shadow: rgba(134, 134, 219, 0.2) 0px 16px 32px, rgb(134, 134, 219) 0px 0px 0px 2px inset;
          }

          .carousel-card-content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            -webkit-box-pack: start;
            justify-content: flex-start;
            z-index: 1;


            .carousel-card-image {
              color: transparent;
              max-width: 100%;
              max-height: 48px;
              height: min-content;
              margin: auto;
            }

            .card-content {
              font-weight: 400;
              font-size: 1rem;
              color: rgb(17, 24, 39);
              line-height: 1.5rem;
              letter-spacing: -0.02rem;
            }
          }
        }
      }
    }
  }

  .common-perks {
    position: relative;
    padding: 4rem 0px;

    .common-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .hero-text {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;

        .app-perks-title {
          font-weight: 600;
          font-size: 2rem;
          color: rgb(17, 24, 39);
          text-align: center;
          line-height: 2.5rem;

        }

        .app-perks-description {
          font-weight: 400;
          font-size: 1.25rem;
          color: rgb(17, 24, 39);
          text-align: center;
          line-height: 1.75rem;
          letter-spacing: -0.02rem;

        }
      }

      .app-perk-card {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        display: flex;
        flex-flow: row;

        .perk-image {
          color: transparent;
          max-width: 100%;
          height: min-content;
          max-height: 283px;
        }

        .hero-text {
          flex-direction: column;
          gap: 1rem;
          width: 100%;
          max-width: 22rem;
          display: flex;

          .app-perks-title {
            font-weight: 600;
            font-size: 1.5rem;
            color: rgb(17, 24, 39);
            line-height: 2rem;

          }

          .app-perks-description {
            font-weight: 400;
            font-size: 1rem;
            color: rgb(17, 24, 39);
            line-height: 1.5rem;
            letter-spacing: -0.02rem;

          }
        }
      }
    }
  }

  .landing_facts {
    padding: 5.5rem 0;
    background: rgb(248, 248, 255);

    .facts_why_us_wrapper {
      gap: 0.5rem;
      text-align: center;
      max-width: 38rem;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 2.5rem;

      .facts_title {
        font-weight: 600;
        font-size: 2rem;
        color: rgb(17, 24, 39);
        line-height: 2.5rem;
      }

      .facts-description {
        font-weight: 400;
        font-size: 1rem;
        color: rgb(107, 114, 128);
        line-height: 1.5rem;
        letter-spacing: -0.02rem;
      }
    }

    .facts_cards_container {
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      gap: 1rem;
      margin: auto auto;
      padding: 0px;
      position: relative;
      width: 100%;
      max-width: 74rem;

      .card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        gap: 1rem;
        max-width: 22rem;
        min-width: 22rem;
        .card-image {
          height: min-content;
          margin: auto;
          max-width: 108px;
          max-height: 96px;
        }

        .card-hero {
          position: relative;
          margin: 0.5rem auto;
          font-weight: 600;
          font-size: 1rem;
          color: rgb(17, 24, 39);
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
        }

        .card-description {
          position: relative;
          color: rgb(107, 114, 128);
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
        }
      }
    }
  }


  .landing_selection_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 74rem;
    padding-bottom: 2rem;

    .landing_selection_hero_text {
      font-weight: 600;
      font-size: 1.5rem;
      color: rgb(17, 24, 39);
      text-align: center;
      line-height: 2rem;
    }

    .button-wrapper {
      width: 100%;
      display: flex;
      gap: 1.5rem 1rem;
      flex-wrap: wrap;
      justify-content: center;

      .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        max-width: 13rem;
        width: 100%;
        border: none;
        box-shadow: 0 9px 25px rgba(0, 0, 0, 0.08);
        background-color: rgb(255, 255, 255);

        &:hover {
          box-shadow: 0 0 0 2px inset rgb(0, 193, 183);
        }

        &.active {
          box-shadow: 0 0 0 2px inset rgb(0, 193, 183);
        }
      }

      span {
        font-weight: 500;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
      }
    }
  }

  .clients-review-container {
    background-color: rgb(255, 252, 240);
    padding: 2.5rem 0px 3rem;

    .review_title {
      font-weight: 600;
      font-size: 1.5rem;
      color: rgb(17, 24, 39);
      text-align: center;
      line-height: 2rem;
      padding: 0px 1rem;
    }

    .review-description {
      margin: 0.5rem auto 0;
      font-weight: 400;
      font-size: 1rem;
      color: rgb(17, 24, 39);
      text-align: center;
      line-height: 1.5rem;
      letter-spacing: -0.02rem;
    }

    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      box-sizing: content-box;
      transform: translateZ(0);
      padding: 2rem 1rem;

      .review-card-stars-rating {
        margin: 1rem 0;

        .star-rating {
          height: 14.45px;
          width: auto;
        }
      }

      h5 {
        font-weight: 500;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: rgb(17, 24, 39);
        line-height: 1.5rem;
        letter-spacing: -0.02rem;
        text-align: left;
      }

      .location {
        font-weight: 400;
        font-size: 0.75rem;
        color: rgb(107, 114, 128);
        line-height: 1.125rem;
        letter-spacing: -0.02rem;
        text-align: left;
      }

      .swiper-backface-hidden .swiper-slide {
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .swiper-slide {
        flex-shrink: 0;
        height: 100%;
        position: relative;
        transition-property: transform;
        display: block;
      }

      .review-container {
        padding: 1.5rem;
        border-radius: 1.5rem;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.08) 0 9px 25px;
        width: 362.667px;
        margin-right: 32px;
      }
    }
  }

  .landing_explanations {
    background-color: rgb(229, 249, 248);
    padding: 5rem 0px;

    .landing_explanations_wrapper {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 74rem;

      .landing_explanations_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;
        display: flex;
        flex-flow: row;

        .explanations_container_image {
          max-width: 100%;
          max-height: 336px;
          height: min-content;
          margin: auto;
          width: auto;
        }

        .landing_explanations_description {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .description_hero {
            font-weight: 600;
            font-size: 2rem;
            color: rgb(17, 24, 39);
            line-height: 2.5rem;
          }

          .description_paragraph {
            font-weight: 400;
            font-size: 1rem;
            color: rgb(17, 24, 39);
            line-height: 1.5rem;
            letter-spacing: -0.02rem;
          }
        }
      }
    }
  }

  .footer {
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    position: sticky;

    .footer_container {
      position: relative;
      width: 100%;
      margin: auto;
      padding: 0px;
      max-width: 74rem;

      .footer_content_flex {
        position: relative;
        z-index: 1099;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        display: flex;
        flex-flow: row;

        .footer_logo_side {
          max-width: 32rem;
          gap: 1rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .navbar-logo {
            width: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: normal;
          }

          .footerdisclaimer {
            font-weight: 400;
            font-size: 0.75rem;
            color: rgb(107, 114, 128);
            line-height: 1.125rem;
            letter-spacing: -0.02rem;
          }
        }
      }

      .footer_navigation_side {
        width: 29rem;
        gap: 1rem;
        display: flex;
        flex-flow: row;

        .navigation_links {
          gap: 1rem;
          width: 100%;
          display: flex;
          flex-flow: wrap;

          .navigation_link {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: -0.02rem;
            color: rgb(17, 24, 39);
            min-width: 10rem;
            text-decoration: none;
          }
        }

        .media-links {
          max-width: 7rem;
          gap: 1rem;
          width: 100%;
          display: flex;
          flex-flow: row;

          .social-emoji {
            margin: auto;
            height: 1rem;
            width: 1rem;
          }
        }
      }
    }

    .copyright {
      text-align: left;
      font-weight: 400;
      font-size: 0.75rem;
      color: rgb(107, 114, 128);
      line-height: 1.125rem;
      letter-spacing: -0.02rem;
    }
  }

}

@media (max-width: 830px) {
  .homepage .landing_explanations .landing_explanations_wrapper .landing_explanations_container {
    display: contents;
  }
}
