.MultipleImage {
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  h2 {
    text-align: center;
    max-width: 34rem;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(17, 24, 39);
    line-height: 2.5rem;
  }

  h3 {
    text-align: center;
    color: rgb(134, 134, 219);
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.02rem;
  }
  .container-wrap {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 2rem auto;
    position: relative;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .button-div{
    cursor: pointer;
    position: relative;
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(156, 163, 175, 0.24) 0 16px 32px;
    border-radius: 0.75rem;
    border: none;
    background: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    padding: 1rem 0.5rem;
    min-width: 10rem;
  }

  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 2rem auto;
    max-width: 50rem;

    .image-option{
      color: transparent;
      margin: 0 auto;
      max-width: 100%;
      height: min-content;
    }

    .option-header {
      text-align: center;
      margin: auto;
      font-weight: 500;
      font-size: 1rem;
      color: rgb(17, 24, 39);
      line-height: 1.5rem;
    }

    .button {
      all:unset;
      position: relative;
      display: flex;
      flex: 0 0 calc(25% - 1rem); /* Each button takes up 25% of the container width minus the gap */
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      box-shadow: rgba(156, 163, 175, 0.24) 0 16px 32px;
      border-radius: 0.75rem;
      border: none;
      cursor: pointer;
      background: rgb(255, 255, 255);
      -webkit-tap-highlight-color: transparent;
      padding: 1rem 0.5rem;
      min-width: 10rem;
      max-width: 10rem;

      &:hover {
        background-color: #e9ecef; // Tai yra Bootstrap spalva, bet galite pasirinkti kitą
      }

      &.active {
        box-shadow: rgb(0, 193, 183) 0px 0px 0px 2px inset;
      }
    }
  }

  .violet-progress-bar .progress-bar {
    background-color: #8485d7;
    height: 4px;

  }
  .progress {
    height: unset;
  }

  .rotateimg180 {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 5em;
    width: auto;
    margin-top: 5em;
  }
  .bottombg-image {
    position: fixed;
    opacity: 0.8;
    z-index: -1;
    width: 35em;
    bottom: 0;
    right: 0;
  }
  .checkbox {
    all: unset;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0.625rem auto auto 0.625rem;
    background-color: rgb(243, 244, 246);
    min-width: 1.25rem;
    min-height: 1.25rem;
    max-width: 1.25rem;
    max-height: 1.25rem;
    box-shadow: rgb(209, 213, 219) 0 0 0 1px inset;
    border-radius: 0.375rem;

    &:checked {
      color: white;
      background-color: #00c1b7;
    }

    &::after {
      content: '✓';
      font-size: 12px;
      color: rgb(243, 244, 246);
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }

    &:focus {
      box-shadow: rgba(0, 193, 183, 0.59) 0px 1px 6px;
    }
  }

  .submit {
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: fit-content;
    -webkit-tap-highlight-color: transparent;
    border: none;
    transition: all 0.2s ease 0s;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
    padding: 0.5rem 1.5rem;
    min-height: 3rem;

    &.disabled {
      cursor: not-allowed;
      color: rgb(156, 163, 175);
      background: rgb(243, 244, 246);
      box-shadow: none;
    }

    &.active {
      cursor: pointer;
      color: rgb(255, 255, 255);
      background: rgb(0, 193, 183);
      box-shadow: rgba(0, 193, 183, 0.24) 0 16px 32px;
    }
  }
}