.SingleImage {

  h2 {
      font-weight: 600;
      font-size: 2rem;
      color: rgb(17, 24, 39);
      line-height: 2.5rem;
  }

  h3 {
    text-align: center;
    color: rgb(134, 134, 219);
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
  }
  .container-wrap {
    height: 80vh;
  }

  .button {
    all:unset;
    position: relative;
    display: flex;
    flex: 0 1 0px;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(156, 163, 175, 0.24) 0px 16px 32px;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    background: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    padding: 1rem 0.5rem;
    min-width: 10rem;
    max-width: 10rem;

    &:hover {
      background-color: #e9ecef; // Tai yra Bootstrap spalva, bet galite pasirinkti kitą
    }

    &.active {
      box-shadow: rgb(0, 193, 183) 0px 0px 0px 2px inset;
    }
  }

  .button-wrapper {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;

    span {
      font-weight: 500;
      font-size: 1rem;
      color: rgb(17, 24, 39);
      line-height: 1.5rem;
    }
  }

  .violet-progress-bar .progress-bar {
    background-color: #8485d7;
    height: 4px;

  }
  .progress {
    height: unset;
  }

  .rotateimg180 {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 5em;
    width: auto;
    margin-top: 5em;
  }
  .bottombg-image {
    position: fixed;
    opacity: 0.8;
    z-index: -1;
    width: 35em;
    bottom: 0;
    right: 0;
  }

}