@import "bootstrap/scss/bootstrap";
@import 'nav';
@import 'quizgenderpage';
@import 'SingleChoice';
@import 'multipleCheckBox';
@import 'questionsnav';
@import 'SingleImage';
@import 'Checkout';
@import 'Confirm';
@import 'Calculate';
@import 'Email';
@import 'MultipleImage';
@import 'Loader';
@import 'HomePage';
@import 'About';
@import 'For-Employers';
@import 'App-Features';